<div>
  tailwindlearn works!
  tips: use emmet.io and sublime shortcuts to speed up your work
</div>
<!--spacing-->
<div class="p-20">
  <h2 class="mb-4">Spacing section</h2> <!--this is a spacing class that is used to add margin-bottom to the element-->
  <p class="mb-4">Tailwind helps us with spacing</p>
  <button class="mr-3 p-4">WOW</button> <!--margin right to make some distance between the buttons, and the padding is inflating the button from all sides-->
  <button class="p-4">WOW WOW</button> <!--we could use stuff like py-2, px-4(width 2x the height is good practice generally). this will add padding to the button too, more padding on its width-->
</div>
<!--box properties-->
<div>

</div>
<!--sizing-->
<div>

</div>
<!--numbering-->
<div>

</div>
<!--typography-->
<div>

</div>
<!--colors-->
<div>

</div>
<!--pseudoclasses-->
<div>

</div>
<!--transitions and transforms-->
<div>

</div>
<!--animations-->
